<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:white"><b>HBC</b></a>
      </div>
        </div>
   

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if @is_instructor %>
      <%= link_to 'Refer Instructor', instructor_referral_path, class: 'btn btn-primary' %>
      <% end %>
        <button type="button" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>