<div class="d-flex align-items-center justify-content-center">
<h1> welcome to main page</h1>
<%= link_to "Sign Up", new_instructor_signup_path %>
<p>User ID from session: <%= @user_id_from_session %></p>
</div>
