<div>
<%= render 'main/navbar' %>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3" style="margin-top: 20%; text-align:center">
    <h3>Wecome, User : <%= @user_id_from_session %></h3>
    <% if flash[:notice].present? %>
      <div>
        <h5><%= flash[:notice] %></h5>
      </div>
    <% end %>
    <div class="button-container">
    <%= link_to "Sign Out" , signout_path, method: :get , class: 'btn btn-primary btn-block' %>
    </div>
</div>
</div>
</div>
</div>