<%= render 'main/navbar' %>

<%= render 'trainee_profile/trainee_profile_details' %>

<div class="card-footer text-center">
  <%= link_to 'Back to All Trainees', view_trainees_path, class: "btn btn-secondary" %>
</div>
