<%= render 'main/navbar' %>

<%= render 'trainee_profile/trainee_profile_details' %>


<div class="card-footer text-center">
  <%= link_to 'Edit Profile', edit_trainee_profile_path, class: "btn btn-secondary" %>
</div>

